.product-item__img {
    width: 80px;
    height: 80px;
    object-fit: contain;
}

.product-item {
    text-align: center;
    width: calc(100% / 3 - 5px);
    margin-left: 4px;
    overflow: hidden;
    margin-bottom: 20px;
    height: 167px;
}

.product-item__price {
    margin-bottom: 10px;
    font-size: 11px;
}

.product-item__title {
    font-size: 12px;
}

.buttons-product {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

}